<section class="course-section">
  <div class="course-section-container">
    <div class="course-top-block">
      <h1 class="course-title">MAGNA EXCEPTEUR AUTE DEFERUNT</h1>
      <div class="course-data-container">
        <p class="course-time course-data-item">3h 37min</p>
        <p class="course-data course-data-item">31 May, 2016</p>
      </div>
    </div>
    <div class="course-content-container">
      <p class="course-content">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. </p>
    </div>
  </div>
  <div class="course-buttons">
    <button class="course-buttons-item">Edit</button>
    <button class="course-buttons-item">Delete</button>
  </div>
</section>
