<form class="form">
  <h1 class="form-title">New course</h1>
  <div class="input-container">
    <div class="input-top-container">
      <p class="input-title">Title:</p>
      <p class="input-required">*required</p>
    </div>
    <input class="form-title-input" placeholder="Some title:" />
  </div>
  <div class="input-container">
    <div class="input-top-container">
      <p class="input-title">Description</p>
      <p class="input-required">*required</p>
    </div>
    <textarea class="form-description-input" placeholder="Description:"></textarea>
  </div>
  <div class="input-container duration-container">
    <div class="input-top-container">
      <p class="input-title">Duration</p>
      <p class="input-required">*required</p>
    </div>
    <input class="form-duration-input" value="0"/>
  </div>
  <div class="input-container date-container">
    <div class="input-top-container">
      <p class="input-title">Date:</p>
      <p class="input-required">*required</p>
    </div>
    <input class="form-date-input" type="date" />
  </div>
  <div class="input-container">
    <div class="input-top-container">
      <p class="input-title">Authors</p>
      <p class="input-required">*required</p>
    </div>
    <input class="form-author-input" value="Author 1"/>
  </div>
  <div class="button-container">
    <button class="button-container-item button-cancel">Cancel</button>
    <button class="button-container-item button-save">Save</button>
  </div>
</form>
