.search-bar-input {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  margin: 80px 20px;
  background-image: url("icons/search.png");
  background-size: 33px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 5px;
  border: none;
  font-size: 20px;
}
