.course-section {
  display: flex;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  margin: 10px 20px;
  padding: 20px;
}

.course-section-container {
  width: 85%;
}

.course-content {
  font-size: 25px;
}

.course-top-block {
  display: flex;
  justify-content: space-between;
}

.course-data-container {
  display: flex;
  font-size: 25px;
}

.course-data-item {
  margin: 20px;
  color: #c4bfbe;
}

.course-content-container {
  display: flex;
}

.course-buttons {
  margin-top: 56px;
  margin-left: 59px;
}

.course-buttons-item {
  height: 40px;
  width: 100px;
  margin: 20px;
  border-radius: 5px;
  border: none;
  background-color: #4ad5ff;
  color: white;
  font-size: 20px;
}
