<section appFreshPost [date]="item.date"  class="course-section">
  <div class="course-section-container">
    <div class="course-top-block">
      <h1 class="course-title">{{item.title}}</h1>
      <div class="course-data-container">
        <p class="course-time course-data-item">{{item.duration | time}}</p>
        <p class="course-date course-data-item">{{item.date}}</p>
      </div>
    </div>
    <div class="course-content-container">
      <p class="course-content">{{item.content}}</p>
    </div>
  </div>
  <div class="course-buttons">
    <button (click)="onEdit()"  class="course-buttons-item course-buttons-edit">Edit</button>
    <button (click)="onDelete()" class="course-buttons-item course-buttons-delete">Delete</button>
  </div>
</section>
