<div>
  <input class="search-bar-input" type="text" [formControl]="searchControl" placeholder="Text for search" />
  <div class="add-course-button-container">
    <button routerLink="add" routerLinkActive="is-active" class="add-course-button">
      <h1 class="course-button-plus">+</h1>Add course
    </button>
  </div>
  <app-list-course *ngFor="let course of courses$ | async"
                   [item]="course"
                   (edit)="handleEdit($event)"
                   (deleted)="handleDelete($event)"></app-list-course>
  <div class="load-more">
    <a (click)="handleLoadMore()" class="load-more-title">LOAD MORE</a>
  </div>
</div>
